/*------------------Globlales-----------------*/

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-size: 1.6rem;
  background: #f6f7fb;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  color: #334680;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-family: "Poppins";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
}

input[type="checkbox"],
input[type="radio"] {
  width: 18px;
  margin: 0px 12px;
}

::placeholder {
  color: #b9bdcf;
}

.fa-globe-americas,
.fa-suitcase {
  color: #b9bdcf;
}
